@import "~bootstrap/scss/bootstrap.scss";

body{
    background-color: black;
}
.box1{
    width: 15rem;
}

.toCenter{
    padding-left: 2rem;
    font-family: 'Pacifico', cursive;
}
.d-flex{
    background-color: ivory;
    padding-left: 0.5rem;
    border-style: solid;
    border-width: thin;
    border-color: black;
}
.mx-auto{
    background-color: lightblue;
    margin-top: 10rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius:0.5rem;
    padding-bottom: 0.75rem;
}

button{
    border-radius: 100%;
    width: 1.5rem;
    border-width: 0.25rem;
    border-color: red;
    background-color: transparent;
}
